<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <link id="mode" rel="stylesheet" {% if request.COOKIES.mode == "normal" %} href="{% static 'css/main-light.css' %}" {% else %}
  href="{% static 'css/main.css' %}" {% endif %} />
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📦</text></svg>">

  <meta name="description" content="BlogPost & Twitter Bot" />
  <meta name="keywords" content="" />
  <title>{{title}} | TheCollector</title>
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <a href="{% url 'home' %}" class="header__logo">
              <h2>TheCollector</h2>
            </a>
            <button href="#" class="header__color" id="switch" aria-label="switch-mode">
              <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <line x1="256" y1="48" x2="256" y2="96"
                  style="fill: none; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 32px" />
                <line x1="256" y1="416" x2="256" y2="464"
                  style="fill: none; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 32px" />
                <line x1="403.08" y1="108.92" x2="369.14" y2="142.86"
                  style="fill: none; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 32px" />
                <line x1="142.86" y1="369.14" x2="108.92" y2="403.08"
                  style="fill: none; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 32px" />
                <line x1="464" y1="256" x2="416" y2="256"
                  style="fill: none; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 32px" />
                <line x1="96" y1="256" x2="48" y2="256"
                  style="fill: none; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 32px" />
                <line x1="403.08" y1="403.08" x2="369.14" y2="369.14"
                  style="fill: none; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 32px" />
                <line x1="142.86" y1="142.86" x2="108.92" y2="108.92"
                  style="fill: none; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 32px" />
                <circle cx="256" cy="256" r="80"
                  style="fill: none; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 32px" />
              </svg>
            </button>
            <nav class="header__nav">
              <a href="{% url 'home' %}">Home</a>
              {% if user.is_authenticated %}
              <a href="{% url 'my_posts' %}">My Posts</a>
              <a href="{% url 'profile' %}">My profile</a>
              {% else %}
              <a href="{% url 'register' %}">Register</a>
              {% endif %}
              <a href="{% url 'about' %}">About</a>
              {% if user.is_superuser %}
              <a href="{% url 'admin:index' %}" style="color: brown;">Admin Panel</a>
              {% endif %}
            </nav>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="header__login"><svg xmlns="http://www.w3.org/2000/svg" width="512"
                height="512" viewBox="0 0 512 512">
                <path
                  d="M176,176V136a40,40,0,0,1,40-40H424a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H216a40,40,0,0,1-40-40V336"
                  style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 32px" />
                <polyline points="272 336 352 256 272 176"
                  style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 32px" />
                <line x1="48" y1="256" x2="336" y2="256"
                  style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 32px" />
              </svg><span>Logout</span></a>
            {% else %}
            <a href="{% url 'login' %}" class="header__login"><svg xmlns="http://www.w3.org/2000/svg" width="512"
                height="512" viewBox="0 0 512 512">
                <path
                  d="M176,176V136a40,40,0,0,1,40-40H424a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H216a40,40,0,0,1-40-40V336"
                  style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 32px" />
                <polyline points="272 336 352 256 272 176"
                  style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 32px" />
                <line x1="48" y1="256" x2="336" y2="256"
                  style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 32px" />
              </svg><span>Login</span></a>
            {% endif %}
            <button class="header__menu" type="button" aria-label="header-menu">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% block content %} {% endblock %}

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer__content">
            <a href="#" class="footer__logo">
              <h2>TheCollector</h2>
            </a>
            <small class="footer__copyright"></small>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'js/scripts.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/swal.js' %}"></script>
  <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
  <script src="{% static 'js/ws.js' %}"></script>


  {% if messages %}
    {% for message in messages %}
      <script>
        Swal.fire({ text: "{{message}}", icon: "{{message.tags}}" });
      </script>
    {% endfor %}
  {% endif %}
  
  {% block script %} {% endblock %}

</body>

</html>