{% extends 'layout/auth_base.html' %}

{% block content %}
<form method="POST" action="{{ url 'second_auth' }}" class="form">
  {% csrf_token %}
  <h4 class="form__title">Second Auth</h4>

  <input type="hidden" name="token" value="{{token}}" required>
  <input type="number" name="code" maxlength="6" class="form__input" placeholder="Authentication code" required
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">

  <button class="form__btn form__btn--big" type="submit">Authenticate</button>
</form>
{% endblock %}