{% extends 'layout/auth_base.html' %}
{% block content %}
<form method="POST" class="form" action="{{ url 'social_second_auth' }}">
  {% csrf_token %}
  <h4 class="form__title">Second Auth</h4>

  <input type="number" minlength="6" maxlength="6" class="form__input" placeholder="Authentication code" required
    oninput="if (this.value.length > this.maxLength){this.value = this.value.slice(0, this.maxLength)};" name="code" />

  <button class="form__btn form__btn--big" type="submit">Authenticate</button>
</form>
{% endblock %}