{% extends 'layout/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="section__title">Profile</h1>
			</div>
		</div>
	</div>
</section>

<section class="section section--profile section--last">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-7 col-lg-8 order-2 order-md-1">
				{% if type == 'None' %}
				<form action="{% url '2fa_activate' %}" class="form">
					<div class="row">
						<div class="col-12">
							<h4 class="form__title">Account Security</h4>
						</div>
						<h5 style="font-size: 20px;color: #342ead;width: 100%;text-align: center;margin-top:20px;">2FA
							is <span style="color: red;">OFF</span> </h5>
						<div class="col-12">
							<button class="form__btn" type="submit" style="width: 100%;">Turn ON</button>
						</div>
					</div>
				</form>
				{%elif type == 'Require_Activation' %}
				<form method="POST" class="form">
					{% csrf_token %}
					<div class="row">
						<div class="col-12">
							<h4 class="form__title">Account Security</h4>
						</div>
						<h5 style="font-size: 20px;color: #342ead;width: 100%;text-align: center;margin-top:20px;">QR
							Code</h5>
						<img src="data:qr/png;base64,{{qr_image}}" width="250px" height="250px" style="margin: 0 auto;">
						<h5 style="color: tomato;text-align: center;width:100%;">{{authenticator_url}}</h5>

						<div class="col-12">
							<label for="" class="form__label" style="text-align: center;">Please Enter the code from
								your
								authenticator app to confirm your device</label>
							<input type="number" name="code" maxlength="6" class="form__input" required
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
							<button class="form__btn" type="submit" style="width: 100%;">Verify</button>
						</div>
					</div>
				</form>
				{%elif type == 'Activated' %}
				<form action="{% url '2fa_deactivate' %}" class="form">
					<div class="row">
						<div class="col-12">
							<h4 class="form__title">Account Security</h4>
						</div>
						<h5 style="font-size: 20px;color: #342ead;width: 100%;text-align: center;margin-top:20px;">2FA
							is <span style="color: green;">ON</span></h5>
						<div class="col-12">
							<button class="form__btn" type="submit" style="width: 100%;">Turn OFF</button>
						</div>
					</div>
				</form>
				{%elif type == 'Delete' %}
				<form method="POST" class="form">
					{% csrf_token %}
					<div class="row">
						<div class="col-12">
							<h4 class="form__title">Account Security</h4>
						</div>
						<div class="col-12">
							<label for="" class="form__label" style="text-align: center;">Please Enter the code from
								your
								authenticator app to delete your device</label>
							<input type="number" name="code" maxlength="6" class="form__input" required
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
							<button class="form__btn" type="submit" style="width: 100%;">Delete device</button>
						</div>
					</div>
				</form>
				{% endif %}
			</div>

			<div class="col-12 col-md-5 col-lg-4 order-1 order-md-2">
				<div class="profile">
					<div class="profile__head">
						<span>{{user.first_name}} {{user.last_name}}</span>
						<img src="{{user.profile.avatar.url}}" alt="">
					</div>
					<nav class="profile__nav">
						<a href="{% url 'profile' %}">Profile details</a>
						<a href="{% url 'password' %}">Change password</a>
						<a class="active" href="{% url '2fa' %}">Account security</a>
						<a href="{% url 'social' %}">Social Accounts</a>
						<a href="{% url 'delete' %}">Delete Account</a>
					</nav>
					<a class="profile__btn" href="{% url 'logout' %}"">LOGOUT</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}