<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
	<link id="mode" rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="icon"
		href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📦</text></svg>">

	<meta name="description" content="BlogPost & Twitter Bot" />
	<meta name="keywords" content="" />
	<title>{{title}} | TheCollector</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
				<div class="page">
					<div class="form form--error">
						<h4 class="form__title">{{status}}</h4>
						<p class="form__text">{{message}}</p>
						<a href="{% url 'home' %}" class="form__btn form__btn--big" type="button">Back to home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/scripts.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>