<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load custom_tags %}
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>The Collector | Register</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
				<div class="page">
					<a href="{% url 'home' %}" class="page__logo">
						<img src="{% static 'img/logo.png' %}" alt="">
					</a>

					<form method="POST" class="form">
						{% csrf_token %}
            {% if messages %}
                <script src="{% static 'js/swal.js' %}"></script>
              {% for error in messages %}
                  <script>
                    swal("Something is Wrong", "{{error}}", "error");
                  </script>
              {% endfor %} 
            {% endif %}
						<h4 class="form__title">Registration</h4>

						{{signup.first_name | remove_attr:'autofocus'}}
                        {{signup.last_name | remove_attr:'autofocus'}}
                        {{signup.email | remove_attr:'autofocus'}}
                        {{signup.username | remove_attr:'autofocus'}}
                        {{signup.password1 | remove_attr:'autofocus'}}
                        {{signup.password2 | remove_attr:'autofocus'}}

						<button class="form__btn form__btn--big" type="submit">Register</button>

						<span class="form__or"><span>or</span></span>

						<a class="form__btn form__btn--tw" href="{% url 'social:begin' 'twitter' %}" >Sign up with <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path d='M496,109.5a201.8,201.8,0,0,1-56.55,15.3,97.51,97.51,0,0,0,43.33-53.6,197.74,197.74,0,0,1-62.56,23.5A99.14,99.14,0,0,0,348.31,64c-54.42,0-98.46,43.4-98.46,96.9a93.21,93.21,0,0,0,2.54,22.1,280.7,280.7,0,0,1-203-101.3A95.69,95.69,0,0,0,36,130.4C36,164,53.53,193.7,80,211.1A97.5,97.5,0,0,1,35.22,199v1.2c0,47,34,86.1,79,95a100.76,100.76,0,0,1-25.94,3.4,94.38,94.38,0,0,1-18.51-1.8c12.51,38.5,48.92,66.5,92.05,67.3A199.59,199.59,0,0,1,39.5,405.6,203,203,0,0,1,16,404.2,278.68,278.68,0,0,0,166.74,448c181.36,0,280.44-147.7,280.44-275.8,0-4.2-.11-8.4-.31-12.5A198.48,198.48,0,0,0,496,109.5Z'/></svg></a>
                        <p class="form__text">Already have an account? <a href="{% url 'login' %}">Sign in!</a></p>
						
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/scripts.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
