<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{{title}} | the collector 📦</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="page">
                    <a href="{% url 'home' %}" class="page__logo">
                        <img src="{% static 'img/logo.png' %}" alt="" />
                    </a>

                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/scripts.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/swal.js' %}"></script>
    {% if messages %}
    {% for message in messages %}
    <script>
        Swal.fire({ text: "{{message}}", icon: "{{message.tags}}" });
    </script>
    {% endfor %}
    {% endif %}
</body>

</html>